{% extends "base.html" %}

{% block view %}discover{% endblock %}

{% block header %}{% endblock %}

{% block title %}Film collection: Discover{% endblock %}

{% block content %}}
 <section id="discover">
   <div class="loading"><div></div><div></div></div>

   <div class="film">
    <div class="title">
     <span class="title"></span>
     <span class="year"></span>
    </div>
    <div class="alt_title"></div>
    <div class="overview"></div>
    <div class="meta">
     <span class="format"></span>
     <span class="arthaus"></span>
     <span class="language"></span>
     <span class="rating"></span>
    </div>
   </div>
 </section>
{% endblock %}