{% extends "base.html" %}

{% block view %}collection{% endblock %}

{% block header %}{% endblock %}

{% block title %}Film collection{% endblock %}

{% block content %}
 <section id="films">
  <div id="filter">
   <div class="filter all"><span>ALLE</span></div>
   <div class="filter dvd"><span>DVD</span></div>
   <div class="filter br"><span>BLU-RAY</span></div>
   <!-- <div class="filter arthaus"><span>ARTHAUS</span></div> -->
  </div>

  <input type="text" name="search" autocomplete="off">

  <div class="films_table">
   {% for copy in copies %}
    <div class="copy {{copy.media_format}} {%if copy.distributor%}{{copy.distributor}}{%endif%} {%if copy.film.copy_count > 1%}duplicate{%endif%}" data-pk="{{copy.pk}}" data-film-pk="{{copy.film.pk}}" data-slug="{{copy.film.slug}}" data-year="{{copy.film.release.year}}" data-poster="{%if copy.film.poster_path%}true{%else%}false{%endif%}" data-barcode="{%if copy.barcode%}{{copy.barcode}}{%endif%}" data-format="{{copy.media_format}}">
     <div class="poster">
      <img class="poster" src="{% if copy.film.poster_path %}{{ url_for('static', filename=copy.film.poster_path) }}{% else %}{{ url_for('static', filename='no_poster.png') }}{% endif %}">
     </div>
     <div class="format">
      <img src="{{ url_for('static', filename=copy.media_format+'_half.png') }}">
     </div>
     <div class="title">
      <a href="https://letterboxd.com/film/{{copy.film.slug}}" target="_blank">
        {% if copy.film.original_title and copy.film.is_scandinavian %}
         {{ copy.film.original_title }}
        {% else %}
         {{ copy.film.title }}
        {% endif %}

        {% if copy.film.original_title and copy.film.original_title != copy.film.title %}
         <span class="og_title">
          {% if copy.film.is_scandinavian %}
           {{ copy.film.title }}
          {% else %}
           {{ copy.film.original_title }}
          {% endif %}
         </span>
        {% endif %}
       </a>
     </div>
     <div class="distributor" data-distributor="{% if copy.distributor %}{{copy.distributor}}{% endif %}">
      <div>
       <i class="zmdi zmdi-tag" title="{% if copy.distributor %}{{copy.distributor_name}}{% else %}Velg distributør{% endif %}"></i><i class="zmdi zmdi-tag" title="{% if copy.distributor %}{{copy.distributor_name}}{% else %}Velg distributør{% endif %}"></i><span>{% if copy.catalogue_number %}{{copy.catalogue_number}}{% endif %}</span>
      </div>
     </div>
     <div class="barcodes" data-barcode-count="{{copy.film.barcode_count}}">
      <span class="barcode">{{ copy.barcode }}</span>
      <div>
       <i class="zmdi zmdi-format-align-right"></i><span>{{copy.film.barcode_count}}</span>
      </div>
     </div>
     <div class="year">{{ copy.film.release.year }}</div>
    </div>
   {% endfor %}
  </div>
  
 </section>

{% if current_user.is_authenticated %}
 {% raw %}
  <!-- Template: Find metadata (modal) -->
  <script id="find_metadata_template" type="x-tmpl-mustache">
    <h1>Oppdater filmdata</h1>
     {{#films}}
      <div class="film" data-slug="{{film.slug}}" data-film-pk="{{film.pk}}">
       <h3>{{film.title}}<span>{{film.slug}}/{{#film.year}}{{.}}{{/film.year}}</span></h3>
       <h4>Metadata</h4>
       <div class="elements films metadata" data-element-type="metadata">
        {{#metadata}}
         <div class="element film {{metadata_match ../film.tmdb_id id}}" title="Metadata" data-tmdb-id="{{id}}">
          <h4><i class="zmdi zmdi-movie-alt"></i>{{title}}<span>{{release_date}}</span></h4>
          <h5>{{original_title}}</h5>
          <p>{{truncate overview 100}}</p>
         </div>
        {{/metadata}}
        <input type="text" name="metadata_manual" placeholder="TMDb ID">
        <a class="show_more" href="#">Vis fler</a>
       </div>
       <h4>Strekkoder</h4>
       <div class="elements barcodes" data-element-type="barcodes">
        {{#barcodes}}
         <div class="element barcodes tooltip" alt="Strekkode" data-barcode-slug="{{slug}}">
          <h4><i class="zmdi zmdi-format-align-right"></i>{{title}}<span>{{year}}</span></h4>
          {{#poster}}<div class="tooltip poster"><img src="{{.}}"></div>{{/poster}}
         </div>
        {{/barcodes}}
        <a class="show_more" href="#">Vis fler</a>
       </div>
      </div>
     {{/films}}
    </div>
   </script>

   <!-- Template: Select barcode (modal) -->
   <script id="select_barcode_template" type="x-tmpl-mustache">
    <h1>Velg strekkode ({{film.barcode_count}})</h1>
    <h3>{{film.title}} ({{film.year}})<span>{{uppercase media_format}}{{#country}}/{{uppercase .}}{{/country}}</span></h3>
    <div class="current_barcode" data-current-barcode="{{barcode}}" data-updated-barcode="">
     <svg class="bc"></svg>
    </div>
    <input type="text" name="barcode" maxlength="13" value="" placeholder="Strekkode">
   </script>

   <!-- Template: Select distributor (modal) -->
   <script id="select_distributor_template" type="x-tmpl-mustache">
    <h1>Velg distributør</h1>
    <h3>{{copy.film.title}} ({{copy.film.year}})<span>{{uppercase copy.media_format}}{{#copy.country}}/{{uppercase .}}{{/copy.country}}</span></h3>
    </div>
    <div class="elements distributors">
     {{#distributors}}
      <div class="element distributor" alt="Distributør" data-distributor-code="{{code}}">
       <h4><i class="zmdi zmdi-tag"></i>{{name}}</h4>
      </div>
     {{/distributors}}
    </div>
    <input type="text" name="catalogue_number" placeholder="Katalognummer" maxlength="10" value="{{copy.catalogue_number}}">
   </script>
  {% endraw %}

 {% else %}

  {% raw %}
   <!-- Template: Show barcode (modal) -->
   <script id="show_barcode_template" type="x-tmpl-mustache">
    <h1>Strekkode</h1>
    <h3>{{film.title}} ({{film.year}})<span>{{uppercase media_format}}{{#country}}/{{uppercase .}}{{/country}}</span></h3>
    {{#barcode}}
     <div class="current_barcode">
      <svg class="bc"
         jsbarcode-format="EAN13"
         jsbarcode-value="{{.}}"
         jsbarcode-textmargin="0"
         jsbarcode-fontoptions="bold">
      </svg>
     </div>
    {{/barcode}}
   </script>
  {% endraw %}
 {% endif %}
{% endblock %}