* { 
  box-sizing: border-box; 
  font-family: 'Monda', sans-serif; font-size: 16px; 
}
body { background: #1A2B49; margin: 0; padding: 0; }

body[data-admin] > div.admin {
  position: fixed; top: 0; left: 0;
  width: 20px; cursor: pointer;
}
body[data-admin] > div.admin::after {
  position: absolute; top: 0; left: 0;
  content: ' '; width: 0; height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #283C5E transparent transparent transparent;
}
body[data-admin="true"] > div.admin::after { border-top-color: #4CAF50; }

section { padding: 25px 3%; }
a { color: inherit; text-decoration: none; }
form { margin: 25px; }
fieldset { border: 0; }
fieldset > input { 
  padding: 5px 15px; display: block; margin-bottom: 10px;
  border: 0; border-radius: 4px; outline: 0;
}

  

table, div#filter, input[name="search"] { 
  border-radius: 4px; width: 100%; 
  margin-bottom: 15px; padding: 2px;
}

div#filter {
  background: rgba(0, 0, 0, 0.15); 
  display: flex;
  flex-direction: row;
}
div#filter > div { 
  position: relative;
  padding: 15px;
  flex: 1 1 auto;
  color: #FFF; width: 25%; text-align: center;
}
/*div#filter > div.all::after { 
  position: absolute; top: 0; right: 0px;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  content: '\f1f3';
  color: gold;
}*/
div#filter > div > span:nth-of-type(1) { 
  font-size: 18px; font-family: 'Unica One'; opacity: 0.8;
}
div#filter > div > span:nth-of-type(1):hover { cursor: pointer; opacity: 1; }
div#filter > div > span:nth-of-type(1) > i.zmdi { font-size: 16px; color: gold; }
div#filter > div > span:nth-of-type(2) { 
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  display: block;
}

input[name="search"] {
  border: 0; outline: 0; padding: 10px 12px;
  background: #283C5E;
  font-size: 1rem; color: #FFF;
}


/* FILMS TABLE */
div.films_table { }
div.films_table > div.copy {
  display: flex; flex-direction: row;
  height: 66px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
div.copy > div { 
  padding: 8px 6px; 
}
div.copy > div:not(.poster) { 
  display: flex;
  justify-content: center;
  flex-direction: column;
}
div.copy > div.poster { flex: 0 1 auto; padding-right: 0; text-align: right; width: 40px; }
div.copy > div.poster > img { height: 100%; border-radius: 3px; }
body[data-admin="true"] div.copy > div.poster > img { cursor: pointer; }
div.copy > div.format { flex: 0 1 auto; padding-left: 0; width: 25px; }
div.copy > div.format > img { height: 40px; opacity: 0.5;  }
div.copy > div.title { flex: 1 1 auto; color: rgba(255, 255, 255, 0.8); }
div.copy > div.title span.og_title { display: block; color: rgba(255, 255, 255, 0.3); font-size: 0.8rem; }

div.copy > div.distributor,
div.copy > div.barcodes { color: rgba(255, 255, 255, 0.2); }
body[data-admin="true"] div.copy > div.distributor,
body[data-admin="true"] div.copy > div.barcodes { cursor: pointer; }
div.copy > div.distributor { width: 120px; }
div.copy > div.barcodes { width: 60px; }
div.copy > div.barcodes span.barcode { display: none; }

div.copy > div.distributor *,
div.copy > div.barcodes * { font-size: 10px; }
div.copy > div.distributor span,
div.copy > div.barcodes span { font-size: inherit; margin-left: 5px; }
div.copy > div.distributor i.zmdi, 
div.copy > div.barcodes i.zmdi { color: rgba(255, 255, 255, 0.15); }
div.copy > div.distributor i.zmdi:nth-of-type(2) { transform: rotate(180deg); } 

div.copy > div.distributor[data-distributor=""] i.zmdi { display: none; } 
body[data-admin="true"] div.copy > div.distributor[data-distributor=""]:hover i.zmdi { display: inline-block; } 
div.copy > div.distributor[data-distributor="arthaus"] i.zmdi { color: rgba(0, 0, 0, 0.5); } 
div.copy > div.distributor[data-distributor="arthaus"] i.zmdi:nth-of-type(2) { color: rgba(255, 255, 255, 0.3); } 
div.copy > div.distributor[data-distributor="curzon"] i.zmdi { color: rgba(0, 120, 135, 0.5); } 

div.copy > div.barcodes span { visibility: hidden; }
div.copy[data-barcode=""] > div.barcodes:hover span { visibility: visible; }
div.copy > div.barcodes i.zmdi { transform: rotate(270deg); }
/*div.copy > div.barcodes[data-barcode-count="0"] * { display: none; }*/
div.copy > div.barcodes:not([data-barcode-count="0"]) { cursor: pointer; }
div.copy[data-barcode=""] div.barcodes i.zmdi { color: rgba(76, 175, 80, 1); }
div.copy[data-barcode=""] div.barcodes[data-barcode-count="0"] i.zmdi { color: rgba(255, 87, 35, 1); }

body[data-admin="false"] div.copy[data-barcode=""] div.barcodes { visibility: hidden; }

div.copy > div.year { flex: 0 1 auto; color: #969DAF; text-align: right; padding-right: 10px; }


/* Modal (vex) */
body.vex-open,
div.vex-content {  }

.vex-content h1,
.vex-content h3,
.vex-content h4,
.vex-content h5 {
  margin: 0;
  color: inherit; 
  font-weight: bold;
}
.vex-content h1 { font-size: 1.1rem; margin-bottom: 5px; color: #A0A0A0; }
.vex-content h1 > span { float: right; color: blue; font-size: 1rem; }
.vex-content h3 { font-size: 0.9rem; }
.vex-content h3 > span { float: right; color: blue; font-size: 0.75rem; }
.vex-content h4 { font-size: 0.8rem; color: rgba(0, 0, 0, 0.5); }
.vex-content h4 > span { float: right; font-size: 0.7rem; }
.vex-content h4 > i.zmdi { margin-right: 10px; opacity: 0.5; }
.vex-content h4 > i.zmdi-format-align-right { transform: rotate(270deg); }
.vex-content h5 { 
  margin-bottom: 5px; line-height: initial;
  font-size: 0.6rem; color: rgba(0, 0, 0, 0.4); 
}
.vex-content p { font-size: 0.7rem; line-height: initial; margin: 0 0 5px 0; }
.vex-content p:empty { display: none; }

.vex-content .elements { margin: 0 0 10px 0; }
.vex-content .elements .element { 
  position: relative;
  margin-bottom: 7px; padding: 5px 15px;
  border: 2px solid transparent; 
  border-radius: 4px;
  background: #D2CFCF;
}
.vex-content .elements .element.film:not(:first-of-type),
.vex-content .elements .element.barcodes:not(:first-of-type) { display: none; }
.vex-content .elements .element.matched,
.vex-content .elements .element.selected { border-color: #666; }
.vex-content .elements .element.possible_match { border-color: #666; border-style: dashed; }
.vex-content .elements .element.current,
.vex-content .elements .element.updated { border-color: #4CAF50; background: #A2D4A4; }
.vex-content .elements .element.warning { border-color: #FF9800; background: #FFCC80; }
.vex-content .elements .element:not(.updated):hover { background: #CCC; cursor: pointer; }
.vex-content .elements .element .tooltip { 
  display: none; 
  position: absolute; bottom: 0; left: 0;
  height: 100%; border-radius: 3px;
}
.vex-content .elements .element .tooltip > img { height: 100%; border-radius: inherit; }
.vex-content .elements .element:hover .tooltip { display: block; }

.vex-content .elements a.show_more { 
  float: right; margin-bottom: 10px;
  display: none; width: 100%; 
  font-size: 0.6rem; text-align: right;
  color: blue;
}

.vex-content .current_barcode {
  text-align: center;
  background: #FFF;
  margin: 5px 0 10px 0;
  border: 2px dashed transparent;
  border-radius: 4px;
  height: 144px;
}
.vex-content .current_barcode.stored { border-style: solid; }
.vex-content .current_barcode.changed { border-color: gold; }
.vex-content .current_barcode.saved { border-color: #4caf50; }
.vex-content .current_barcode.error { border-color: #f44336; }


.vex-content input[type="text"] {
  border: 2px solid #D2CFCF;
  border-radius: 4px;
  padding: 3px 5px; width: 100%;
  text-transform: uppercase;
}
.vex-content input[type="text"]:focus { border-color: #666; outline: none; }
.vex-content input[type="text"].error { border-color: #f44336; }

.vex-content .twitter-typeahead { width: 100%; }
.vex-content .twitter-typeahead input { width: inherit; }
.vex-content .twitter-typeahead .tt-menu { 
  background: #FFF; width: 100%; 
  border: 2px solid #CCC; border-top: 0;
  border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
}
.vex-content .twitter-typeahead .tt-menu .tt-suggestion { 
  padding: 3px 5px;
}
.vex-content .twitter-typeahead .tt-menu .tt-cursor { 
  background: #EFEFEF;
}





.noty_buttons button { margin-right: 10px; }




/* DISCOVER */
section#discover { 
  width: 100%; height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#discover div.loading {
  display: inline-block; 
  position: fixed; top: 10px; right: 10px;
  width: 32px; height: 32px;
}
section#discover div.loading div {
  position: absolute; opacity: 1;
  border: 4px solid #fff; border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
section#discover div.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 14px; left: 14px;
    width: 0; height: 0;
    opacity: 1;
  }
  100% {
    top: -1px; left: -1px;
    width: 29px; height: 29px;
    opacity: 0;
  }
}

section#discover > div.film { 
  position: fixed; bottom: 10%; left: 5%;
  width: 90%;
  display: none;
  padding: 2% 5%;
  background: rgba(0, 0, 0, 0.5);
}
section#discover > div.film > div { display: block; float: none; }
section#discover > div.film > div.title > span { color: #FFF; font-size: 3rem; }
section#discover > div.film > div.title > span.year { 
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5); 
}
section#discover > div.film > div.alt_title { 
  font-size: 1.7rem; 
  color: rgba(255, 255, 255, 0.75); 
}
section#discover > div.film > div.overview { 
  margin-top: 5px;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75); 
}
section#discover > div.film > div.meta { 
  margin-top: 25px;
  text-transform: uppercase;
  color: gold !important;
}
section#discover > div.film > div.meta > span { margin-right: 30px; }

@media (max-width: 600px) {
  body { margin: 0; padding: 0; }
  section { padding: 0; }
  table, div#filter { 
    margin-bottom: 10px; 
    border-radius: 0; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  div#filter { }
  table { margin-bottom: 15px; }

  section#discover > div.film { bottom: 25px; }
  section#discover > div.film > div.title > span { font-size: 1.5rem; }
  section#discover > div.film > div.alt_title { font-size: 1.2rem; }
  section#discover > div.film > div.overview { font-size: 1rem; }
  section#discover > div.film > div.meta > span { font-size: 1rem; }
}