{% extends "base.html" %}

{% block header %}
 <script type="text/javascript" src="{{ url_for('static', filename='films.js') }}"></script>
{% endblock %}

{% block title %}Oppdater film{% endblock %}

{% block content %}
 <section id="update">
  <h1><b>Update:</b> {{slug}} ({{year}})</h1>
 
  <ul>
   {% for film in results %}
    <li>
     <h2><b>{{film.title}}</b> ({{film.release_date}}) [<a href="{{ url_for('update_details', slug=slug, year=year, tmdb_id=film.id) }}">Select</a>]</h2>
     <p>{{film.overview}}</p>
    </li>
   {% endfor %}
  </ul>
 </section>
{% endblock %}